.container {
	width: 50%;
	margin: 2em auto;
	min-height: 10em;
	border-style: groove;
}

.container p {
	margin: 1em;
	padding: 1em;
	clear: right;
}

.button {
	float: right;
	margin: 1em;
}

.editable p {
	background-color: #ffffcc;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

[contenteditable]:focus {
	outline: none;
}
